<%= render 'lists/banner'%>
<div class="container mt-3">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-sm-6">
        <article class="mb-3">
          <%= render 'lists/card', list: list %>
        </article>
      </div>
    <% end %>
  </div>
</div>
