.banner {
  position: relative;
  height: 400px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.9);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
