.footer {
  background: #d5d5d5;
  display: flex;
  left: 0;
  bottom: 0;

  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);

  &-links {
    display: flex;
    align-items: center;

    a {
      color: black;
      opacity: 0.15;
      text-decoration: none;
      font-size: 24px;
      padding: 10px 10px;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-copyright {
    .fa-heart {
      color: #D23333;
    }
  }
}
